Decode CBORObject back to any arbitrary object

Hi Peter, 

I am trying to use PeterO.CBOR package to encode/decode an arbitrary object to/from CBOR. My object has two values: one is an array of byte strings, the second one is just an integer. 
Encoding the object to CBOR is working fine. But I have problem to decode the CBOR object back to my original object. I couldn’t find an API to support the decoding to the original object directly. So I came up with an alternative approach: use CBORObject.ToJSONString() to get a JSON string firstly, then use NewtonSoft.JsonConvert.DeserializeObject() to de-serialize the JSON string to the specified type.

CBORObject.ToJSONString() states that byte strings are converted to Base64 URL without whitespace or padding by default. A byte string will instead be converted to traditional base64 without whitespace or padding if it has tag 22, or base16 for tag 23. I am curious why you don’t include the padding by default, which makes the JSON string invalid length. I looked at the source code, there is no options to makeCBORObject.ToJSONString() to include the padding. Maybe I missed something here. Could you please let me know if there is a way I can include the padding in the JSON string produced by CBORObject.ToJSONString()? My second question is that how can I set the tag (22) to just one value inside my object during encoding using CBORObject.FromObjectAndTag(), which sets the tag to the entire object not just one element in the map, because I need to CBORObject.ToJSONString() to return traditional base64 instead of base64 URL. 

Thank you!


You should post your issue in the peteroupc/CBOR repository, not here.

In any case, ""CBORObject.ToJSONString() states that byte strings are converted to Base64 URL without whitespace or padding by default because that is the suggested behavior according to section 4.1 of RFC 7049.

Thanks Peter for your explanation!